:root {
  --app-background: #eeeeee;
  --text-basic: #717171;
  --app-header-background: #ffffff;
  --text-secondary: #919191;
  --card-header-background: #f6f6f6;
  --text-green: #3c7649;
  --card-background: #ffffff;
  --text-blue: #3684cb;
  --button-background: #f4f4f4;
  --text-red: #dd4b4b;
  --separator: #cccccc;
}
